package-lock.json
node_modules
/.vscode/launch.json
/.vscode/settings.json
/.vscode/tasks.json
/.vscode/*.local.json
.~lock.*
/ext/*/*
/ext/*/**/*
!/ext/*/DIRECTORY-README.txt
/bin/
/tools/wasm/skeleton.ts
