/build/*/debug
/build/*/release
/triwasmlib/build/tools
/triwasmlib/build/obj
/scripts/temp
/scripts/output
package-lock.json
node_modules
/.vscode/settings.json
/test/unit/build/*
/triasm/lemon/triasmParser.out
/triasm/lemon/lemon.exe
