[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "triwasmlib/Berkeley-SoftFloat"]
	path = triwasmlib/Berkeley-SoftFloat
	url = https://github.com/kildom/Berkeley-SoftFloat.git
