
div.m {
    border: 1px solid #888;
    background-color: #EEE;
    padding: 3px;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
}

div.f {
    border: 1px solid #768aaf;
    background-color: #c9dcee;
    padding: 3px;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
}

div.body {
    border: 1px solid #909499;
    border-radius: 4px;
    padding: 10px 20px;
    background: #f1f1f3;
    margin: 2px 2px;
}

div.lbl {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 2px 5px;
    background: #ffffff;
    margin: 2px 2px;
    font-weight: bold;
}

div.idx {
    border: 1px solid #0e4c70;
    border-radius: 4px;
    padding: 2px 5px;
    background: #0e4c70;
    color: #FFF;
    margin: 2px 2px;
}

div.lim {
    border: 1px solid #0e4c70;
    border-radius: 4px;
    padding: 2px 5px;
    background: #e2edf3;
    margin: 2px 2px;
}

div.imp {
    border: 1px solid #70420e;
    border-radius: 4px;
    padding: 2px 5px;
    background: #f3ebe2;
    margin: 2px 2px;
}

div.imp>span.module {
    border-right: 1px solid #FFF;
    padding-right: 4px;
}

div.imp>span.name {
    padding-left: 4px;
    border-left: 1px solid #70420e;
}

div.exp {
    border: 1px solid #25700e;
    border-radius: 4px;
    padding: 2px 5px;
    background: #d2eed4;
    margin: 2px 2px;
}

div.exp>span.module {
    border-right: 1px solid #FFF;
    padding-right: 4px;
}

div.exp>span.name {
    padding-left: 4px;
    border-left: 1px solid #25700e;
}

div.kind {
    border: 1px solid #909499;
    border-radius: 4px;
    padding: 2px 5px;
    background: #f1f1f3;
    margin: 2px 2px;
}

div.loc {
    border: 1px solid #909499;
    border-radius: 4px;
    padding: 2px 5px;
    background: #f1f1f3;
    margin: 2px 2px;
}

div.break {
    flex-basis: 100%;
}

.del {
    text-decoration: underline;
}

pre.code {
    border: 1px solid #909499;
    border-radius: 4px;
    padding: 10px 20px;
    background: #f1f1f3;
    margin: 2px 2px;
    color: #777;
}

div.block {
    border-left: 1px solid #cacaca;
    padding-left: 20px;
}

div.else {
    position: relative;
    width: 60px;
    height: 2px;
    background-color: #cacaca;
    left: -20px
}

div.instr {
    font-family: monospace;
    font-size: 13px;
    padding: 3px 0px;
    color: #777;
}

div.instr span.name {
    color: #10173f;
}

div.instr a {
    text-decoration: none;
    color: #70420e;
    font-style: italic;
}

div.instr a:hover {
    color: #0e4c70;
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

span.stack-entry {
    border-radius: 7px;
    background-color: #dddddd;
    padding: 1px 5px;
    font-size: 75%;
    color: #240000;
}

span.stack-pop {
    background-color: #ffb0b0;
}

span.stack-push {
    background-color: #b0ffba;
    color: #002400;
}

span.stack-entry>span.stack-prev {
    text-decoration: line-through;
}

span.loc {
    color: #414cac;
}

